footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--color-border);
    padding: 2rem;
    background-color: var(--color-primary);
    gap: var(--spacing-large);
}

footer a {
    color: var(--color-text-secondary);
}

.footer-logo {
    max-height: 150px;
    aspect-ratio: 1/1;
}

.footer-logo img {
    height: 100%;
}

.footer-group h3 {
    font-size: 2em;
}

.footer-group li {
    font-size: 1em;
    color: var(--color-text-secondary);
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-small);
}

.footer-icons a {
    width: 40px;
    border-radius: var(--radius-normal);
}

.footer-icons img {
    border-radius: var(--radius-normal);
}

@media screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
        margin: 0 auto;
    }

    .footer-icons {
        justify-content: flex-start;
    }
}
