.hero-container {
    height: 80vh;
    position: relative;
    overflow: hidden;

    background-color: red;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to right,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1)
    );

    z-index: 1;
}

.hero-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}

.hero-content img {
    width: min(100%, 512px);

    z-index: 10;
}

.hero-container h1 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-style: italic;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;

    z-index: 2;

    font-size: 1.5em;
    font-family: var(--font-header);
}

@media screen and (max-width: 600px) {
    .hero-content {
        width: 80%;
    }
}
