#oferta {
    padding: 0 2rem 2rem 2rem;
    margin-top: var(--spacing-section);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: radial-gradient(circle, rgba(255,227,253,1) 0%, rgba(255,174,250,1) 100%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 6px 8px 0px;

    overflow: hidden;
}

#oferta h2 {
    padding: 0 4rem 1rem;
    margin-bottom: var(--spacing-large);

    background-color: white;
    border-radius: 0 0 9999px 9999px;
    border: 3px solid var(--color-secondary);
    border-top: none;

    color: var(--color-text);
    font-style: italic;
    font-weight: 500;
    font-style: normal;
}

#oferta .item-container {
    width: 50%;

    display: flex;
    justify-content: center;
    gap: 2rem;
}

#oferta .item-container .item {
    width: 50%;

    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-normal);

    opacity: 0;
}

.item:nth-child(1) {
    transform: translateX(-100px);
}

.item:nth-child(2) {
    transform: translateX(100px);
}

#oferta .item h3 {
    margin: 0;
    padding: 1rem;

    border-bottom: 1px solid var(--color-border);

    text-align: center;
    font-size: 2.5em;
    font-style: italic;
}

#oferta .item ul {
    margin-bottom: var(--spacing-medium);

    display: flex;
    flex-direction: column;
}

#oferta .item li {
    padding: 0.5rem;
}

#oferta .item li:nth-child(odd) {
    background-color: rgb(245, 244, 244);
}

#oferta .item img {
    margin-top: auto;
}

.offer-element {
    display: flex;
}
.offer-element h4 {
    margin-right: auto;

    font-size: 1.2em;
}

.tags {
    display: flex;
}
.tag {
    margin: 0 4px;
    padding: 2px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--radius-large);

    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.price {
    background-color: var(--color-secondary);
}
.time {
    background-color: var(--color-primary);
}

@media screen and (max-width: 1500px) {
    #oferta .item-container {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #oferta .item-container {
        flex-direction: column;
        align-items: center;
    }

    #oferta .item-container .item {
        width: 75%;
    }

    .item:nth-child(1) {
        transform: translateY(100px);
    }

    .item:nth-child(2) {
        transform: translateY(100px);
    }
}


@media screen and (max-width: 600px) {
    #oferta .item-container .item {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .offer-element {
        flex-direction: column;
        align-items: center;
    }
    .offer-element h4 {
        margin: 0;
    }
}
