.privacy-policy-container {
    width: var(--site-width);
    margin: 0 auto;
    box-shadow: var(--shadow-normal);
    padding: var(--spacing-large);

}

.privacy-policy-container h1 {
    font-size: 3em;
    text-align: center;
    margin: var(--spacing-medium);
}

.privacy-policy-container h2 {
    font-size: 2em;
    color: var(--color-text);
}

.privacy-policy-container p {
    color: var(--color-text-secondary);
}

.privacy-policy-container ul {
    list-style-type: disc !important;
    padding-left: 20px;
}
.privacy-policy-container ul li {
    color: var(--color-text-secondary);
    font-family: var(--font-normal);
}
